body {
  font-family: Verdana, sans-serif;
}

.main-view{
    margin: 0 auto;
    padding-top: 200px;
}

.main-title{
	font-size: 24px;
	font-weight: 500;
	text-decoration: underline;
}

.data-label{
	font-size: 14px;
	font-style: italic;
}

.data-content{
	font-size: 18px;
	font-weight: 500;
}